<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3">
	<listeners>
		<listener class-name="com.bjit.listeners.ListenerClass" />
		<listener class-name="com.bjit.listeners.MethodInterceptor" />
 		<listener class-name="com.bjit.listeners.AnnotationTransformer" />
	</listeners>
	<test thread-count="1" name="Test" parallel="methods">
		<classes>
			<!-- <class name="com.bjit.tests.LoginPageTest"/> -->
			<class name="com.bjit.tests.OrangeHRMLoginLogoutTest" />
<!-- 			<class name="com.bjit.tests.ERPLoginLogoutTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
